
<!DOCTYPE html>
<html>
<!-- Mirrored from www.zi-han.net/theme/hplus/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:16:41 GMT -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/dist/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="~/dist/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="~/dist/css/animate.min.css" rel="stylesheet">
    <link href="~/dist/css/style.min862f.css?v=4.1.0" rel="stylesheet">

    <style>
        .minimalize-styl-2 {
            margin: 10px 5px 10px 20px;
        }
    </style>

</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a href="#">
                                <span class="clear" style="font-size: 1.5rem;">
                                    <span class="text-muted text-xs block">精神卫生中心<b class="fa fa-home"></b></span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element">
                            精
                        </div>
                    </li>
                    </li>
                    <!--添加导航在这个位置-->
                    <li>
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">广告管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">广告管理</a>
                            </li>

                        </ul>

                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">主页</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li>
                                <a class="J_menuItem"  asp-page="/Manager/AdMod/adposition">广告位置</a>
                            </li>
                            <li>
                                <a class="J_menuItem" asp-page="/Manager/AdMod/index">广告列表</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-page="/BLogin">BLogin</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-page="/BPage">BPage</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-page="/home/home">/home/home</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-page="/manager/admin">/manager/admin</a>
                            </li>
                          
                        </ul>

                    </li>
                    @await Component.InvokeAsync(nameof(Shared.Components.LayOut))

                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">

            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="index_v2.html">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">
                        关闭操作<span class="caret"></span>

                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll">
                            <a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="login.html" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>

            <!---<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">LoginDemo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/FLogin">FLogin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/FPage">FPage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/BLogin">BLogin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/BPage">BPage</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>-->
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/Manager/TestMod/index2" frameborder="0" data-id="index_v1.html" seamless></iframe>
            </div>
            <div class="container" style="margin-left:0px;margin-right:0px;width:100%">
                <partial name="_CookieConsentPartial" />
                <main role="main" class="pb-3" style="width:100%">
                    @RenderBody()
                </main>
            </div>

            <!-- <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - LoginDemo - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>-->


            <script src="~/js/site.js" asp-append-version="true"></script>

            @RenderSection("Scripts", required: false)


</body>
<script src="~/dist/js/jquery.min.js?v=2.1.4"></script>
<script src="~/dist/js/bootstrap.min.js?v=3.3.6"></script>
<script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/js/plugins/layer/layer.min.js"></script>
<script src="~/js/hplus.min.js?v=4.1.0"></script>
<script type="text/javascript" src="~/dist/js/contabs.min.js"></script>
<script src="~/js/plugins/pace/pace.min.js"></script>
</html>
